<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- Bootstrap CSS -->
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
            integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
            crossorigin="anonymous"
        />
        <style>
            /* h1 {
            margin: 2rem;
            text-align: center;
        }
        p {
            text-align: center;
        } */
        </style>

        <title>Dockerfile lint server</title>
    </head>
    <body>

        <div class="container">
            <div class="py-5 text-center">
                <img class="d-block mx-auto mb-4" src="https://camo.githubusercontent.com/1d7a257864e1de4f44aebe12ac35e857a0df1c17/687474703a2f2f6861646f6c696e742e6c756b61736d617274696e656c6c692e63682f696d672f6361745f636f6e7461696e65722e706e67" alt="" width="72" height="72">
                <h2>Dockerfile lint server, using Hadolint</h2>
                <p class="lead">Post a request to `/lint` with the Dockerfile being the body of the request.</p>
            </div>
        </div>
    </body>
</html>
